<div class="card" style="width: 18rem;">
  <img class="card-img-top" [src]="movie.img_url" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ movie.original_title }}</h5>
    <p class="card-text">{{ movie.overview }}</p>
    <a (click)="itemClicked(movie)" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
