{{ perpage }}
<div *ngIf="loading">Carregando...</div>
<div *ngIf="!loading && movies && movies.length == 0">Nenhum filme encontrado</div>
<div class="container" *ngIf="!loading && movies && movies.length > 0">
  <div class="row">
    <div *ngFor="let movie of movies" class="col">
      <app-movie-card (movieClicked)="itemClicked($event)" [movie]="movie"></app-movie-card>
    </div>
  </div>
</div>
